<div class="project-context hidden-xs dropdown"
     dropdown="">
  <span class="label">Notifications:</span>
  <span class="project-selector dropdown-toggle"
        dropdownToggle="">Active Notifications: 
  <span class="badge bg-color-red">999</span>
  <i class="fa fa-angle-down"></i></span>
  <ul class="dropdown-menu">
    <li style="padding: 7px">
      <a href="/patients/errors">Errors 
      <span class="badge bg-color-red">253</span></a>
    </li>
    <li class="divider"></li>
    <li style="padding: 7px">
      <a href="">Patients from IQCare 
      <span class="badge bg-color-red">0</span></a>
    </li>
    <li class="divider"></li>
    <li style="padding: 7px">
      <a>Reporting Deadlines 
      <span class="badge bg-color-red">594</span></a>
    </li>
    <li class="divider"></li>
    <li style="padding: 7px">
      <a href="patients/lost-followup">Lost to FollowUp 
      <span class="badge bg-color-red">152</span></a>
    </li>
  </ul>
</div>
