#input {display: inherit; padding: 5px; margin: 0; width: 100%;}
#complex_table {margin: 0; padding: 6px;}
/*.table-fixed {
  width: 100%;
  background-color: #f3f3f3;
}
.table-fixed tbody {
  height: 200px;
  overflow-y: auto;
  width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}
.table-fixed tbody td {
  float: left;
}
.table-fixed thead tr th {
  float: left;
  background-color: #f39c12;
  border-color: #e67e22;
}*/
.mwas thead {
    background-color: #f39c12 !important;
}
        /*table {
            width: 100%;
        }

        thead, tbody, tr, td, th { display: block; }

        tr:after {
            content: ' ';
            display: block;
            visibility: hidden;
            clear: both;
        }

        thead th {
            height: 30px;*/

            /*text-align: left;*/
        /*}

        tbody {
            height: 120px;
            overflow-y: auto;
        }*/

        /*thead {
            /* fallback */
        /*}


        tbody td, thead th {
            width: 19.2%;
            float: left;
        }*/