<div id="content">
   <sa-widgets-grid>
      <!-- row -->
      <!--<div class="row">-->
         <article>
            <sa-widget [colorbutton]="false" [editbutton]="false" [togglebutton]="false" [deletebutton]="false"
            [fullscreenbutton]="false" [custombutton]="false" [sortable]="false" color="blueLight">
            <header>
               <span class="widget-icon"> <i class="fa fa-list-alt"></i> </span>
               <h2>Frequently Asked Questions</h2>              
            </header>
            <div>
               <div class="widget-body no-padding">
                  <accordion>
                     <accordion-group [isOpen]="true" heading="Patients">
                        <div class="panel-collapse">
                           <div class="panel-body">
                              No FAQs
                           </div>
                        </div>
                     </accordion-group>
                     <accordion-group heading="Inventory">
                        <div class="panel-collapse">
                           <div class="panel-body">
                              No FAQs
                           </div>
                        </div>
                     </accordion-group>
                     <accordion-group heading="Orders">
                        <div class="panel-collapse">
                           <div class="panel-body">
                              No FAQs
                           </div>
                        </div>
                     </accordion-group>
                     <accordion-group heading="Reports">
                        <div class="panel-collapse">
                           <div class="panel-body">
                              No FAQs
                           </div>
                        </div>
                     </accordion-group>
                     <accordion-group heading="Settings">
                        <div class="panel-collapse">
                           <div class="panel-body">
                              No FAQs
                           </div>
                        </div>
                     </accordion-group>
                  </accordion>
               </div>
            </div>
            </sa-widget>
         </article>
      <!--</div>-->
   </sa-widgets-grid>
</div>