<div id="content">
  <div class="row">
    <div class="col-sm-12">
      <div class="well">
        <div class="table-responsive">
          <table class="table table-bordered table-condensed">
            <tr>
              <th>Facility Code</th>
              <td></td>
              <th>Facility Name</th>
              <td></td>
            </tr>
            <tr>
              <th>County</th>
              <td></td>
              <th>District</th>
              <td></td>
            </tr>
            <tr>
              <th>Programme Supervisor</th>
              <td></td>
              <th>Service Provided</th>
              <td></td>
            </tr>
            <tr>
              <th>Reporting Period</th>
              <td class="form-inline">
                <span style="font-weight: bold;">Beginning: </span>
                <input class="form-control" style="width: 50px;" type="text" name="" id="">
                <input class="form-control" style="width: 90px;" type="text">
              </td>
              <td colspan="2" class="form-inline">
                <span style="font-weight: bold;">Ending: </span>
                <input class="form-control" style="width: 50px;" type="text" name="" id="">
                <input class="form-control" style="width: 90px;" type="text">
              </td>
            </tr>
          </table>
        </div>
        <div class="table-responsive">
          <table class="table table-bordered table-stripped">
            <tr>
              <th>Regimen Code</th>
              <th>ARV Treatment Regimen</th>
              <th>No of Cumulative Active Patients/Clients on this regimen at the End of the Reporting period <a class="btn btn-xs btn-info"><i class="fa fa-plus" aria-hidden="true"></i></a></th>
            </tr>
            <tbody>
             <tr>
               <td></td>
               <td></td>
               <td id="complex_table">
                 <input id="input" type="text" class="form-control">
               </td>
             </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>