<div id="content">
  <sa-widgets-grid>
    <div class="row">
      <article class="col-sm-12">
        <sa-widget [editbutton]="false" color="darken">
          <header>
            <h2>Manual/Auto Scripts</h2>
          </header>
          <div class="widget-body">
            <alert type="info" dismissible="true">
              (1) patient without current_regimen has been updated with last dispensed regimen <br>
              EID Sync Success <br>
              GITLOG Sync Success
            </alert>
          </div>
        </sa-widget>
      </article>
    </div>
  </sa-widgets-grid>
</div>