<div id="content">
    <div class="col-sm-12" style="padding: 12px">
        <sa-widget [editbutton]="false" [fullscreenbutton]="false" [custombutton]="false" [sortable]="false">
            <header>
                <ul class="nav nav-tabs pull-left in">
                    <li [class.active]="state.tabs.demo3=='hr1'">
                        <a (click)="state.tabs.demo3 = 'hr1'"><span class="hidden-mobile hidden-tablet"> My CDRRs </span> </a>
                    </li>
                    <li [class.active]="state.tabs.demo3=='hr2'">
                        <a (click)="state.tabs.demo3 = 'hr2'"><span class="hidden-mobile hidden-tablet">My MAPs </span>
               </a>
                    </li>
                    <li [class.active]="state.tabs.demo3=='hr3'">
                        <a (click)="state.tabs.demo3 = 'hr3'"><span class="hidden-mobile hidden-tablet">My Templates</span> </a>
                    </li>
                </ul>
            </header>
            <!-- widget div-->
            <div>
                <!-- widget content -->
                <div class="widget-body" style="padding: 0px;">
                    <tabset>
                        <!--CDRR Tab Content-->
                        <tab [active]="state.tabs.demo3 == 'hr1'">
                            <div>
                                <div class="widget-body no-padding">
                                    <div class="table-responsive" style="overflow-x: hidden;">
                                        <div class="dt-toolbar">
                                            <div class="row" style="padding-top: 2px;">
                                                <div class="col-xs-12 col-sm-6 hidden-xs">
                                                    <div class="pull-left">
                                                        <a href="#" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> New Stand-Alone CDRR</a>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-6 hidden-xs">
                                                    <div class="pull-right form-inline">
                                                        <label for="period_begin" style="font-weight: bold;">
                                                            Filter Period:
                                                        </label>
                                                        <select #period name="period_begin" class="form-control" [(ngModel)]="period_begin_filter" (change)="filterPeriod(period.value)">
                                                            <option value="all">All</option>
                                                            <option *ngFor="let item of filter_period" value="{{item}}">{{item}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr style="margin-top: 10px; margin-bottom: 10px;">
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-6 hidden-xs">
                                                    <div class="pull-left form-inline">
                                                        <div id="datatable_fixed_column_filter" class="dataTables_filter">
                                                            <label>
                                                                <span class="input-group-addon">
                                                                    <i class="glyphicon glyphicon-search"></i>
                                                                </span>
                                                                <input type="search" class="form-control" [(ngModel)]="binding" placeholder="Search" aria-controls="datatable_fixed_column">
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-6 hidden-xs">
                                                    <div class="pull-right form-inline">
                                                        <label for="show_item" style="font-weight: bold;">
                                                            Items per Page:
                                                        </label>
                                                        <!--<input type="number" class="input" min="0" [(ngModel)]="config.itemsPerPage">-->
                                                        <select name="show_item" class="form-control" [(ngModel)]="config.itemsPerPage">
                                                            <option [value]="10">10</option>
                                                            <option [value]="25">25</option>
                                                            <option [value]="50">50</option>
                                                            <option [value]="100">100</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <table class="table table-bordered table-condensed">
                                            <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>Period Beginning</th>
                                                    <th>Status</th>
                                                    <th>Facility Name</th>
                                                    <th style="text-align: center;">Options</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let cdrr of cdrrList | fieldFilter:'period':period_begin_filter | fieldFilter:'orders':binding | paginate: config">
                                                    <td>{{cdrr.code}}</td>
                                                    <td>{{cdrr.period_begin}}</td>
                                                    <td>{{cdrr.status}}</td>
                                                    <td>{{cdrr.facility_name}}</td>
                                                    <td style="text-align: center;">
                                                        <a [routerLink]="['/orders/view-cdrr']" class="btn btn-default btn-xs"><i class="fa fa-eye"></i> View</a>
                                                        <a [routerLink]="['/orders/update-cdrr']" class="btn btn-primary btn-xs"><i class="fa fa-refresh"></i> Update</a>
                                                        <a class="btn btn-danger btn-xs" title="Delete"><i class="fa fa-trash"></i> Delete</a>
                                                        <a class="btn btn-success btn-xs" title="Download"><i class="fa fa-download"></i> Download</a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="dt-toolbar-footer">
                                            <div class="col-sm-6 col-xs-12">
                                                <div class="dataTables_info form-inline" id="DataTables_Table_1_info" role="status" aria-live="polite">
                                                    Current Page: <input type="number" class="form-control" min="0" [(ngModel)]="config.currentPage">
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-6">
                                                <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_1_paginate">
                                                    <pagination-controls [maxSize]="maxSize" [directionLinks]="directionLinks" [autoHide]="autoHide" [previousLabel]="labels.previousLabel"
                                                        [nextLabel]="labels.nextLabel" [screenReaderPaginationLabel]="labels.screenReaderPaginationLabel"
                                                        [screenReaderPageLabel]="labels.screenReaderPageLabel" [screenReaderCurrentLabel]="labels.screenReaderCurrentLabel"
                                                        (pageChange)="onPageChange($event)">
                                                    </pagination-controls>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </tab>
                        <!--MAPs Tab Content-->
                        <tab [active]="state.tabs.demo3 == 'hr2'">
                            <div>
                                <div class="widget-body no-padding">
                                    <div class="table-responsive" style="overflow-x: hidden;">
                                        <div class="dt-toolbar">
                                            <div class="row" style="padding-top: 2px;">
                                                <div class="col-xs-12 col-sm-6 hidden-xs">
                                                    <div class="pull-left">
                                                        <a href="#" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> New Stand-Alone Maps</a>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-6 hidden-xs">
                                                    <div class="pull-right form-inline">
                                                        <label for="period_begin" style="font-weight: bold;">
                                                            Filter Period:
                                                        </label>
                                                       <select #period name="period_begin" class="form-control" [(ngModel)]="period_begin_maps_filter" (change)="filterPeriod(period.value)">
                                                            <option value="all">All</option>
                                                            <option *ngFor="let item of filter_period_maps" value="{{item}}">{{item}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr style="margin-top: 10px; margin-bottom: 10px;">
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-6 hidden-xs">
                                                    <div class="pull-left form-inline">
                                                        <div id="datatable_fixed_column_filter" class="dataTables_filter">
                                                            <label>
                                                                <span class="input-group-addon">
                                                                    <i class="glyphicon glyphicon-search"></i>
                                                                </span>
                                                                <input type="search" class="form-control" [(ngModel)]="binding" placeholder="Search" aria-controls="datatable_fixed_column">
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-6 hidden-xs">
                                                    <div class="pull-right form-inline">
                                                        <label for="show_item" style="font-weight: bold;">
                                                            Items per Page:
                                                        </label>
                                                        <!--<input type="number" class="input" min="0" [(ngModel)]="config.itemsPerPage">-->
                                                        <select name="show_item" class="form-control" [(ngModel)]="config.itemsPerPage">
                                                            <option [value]="10">10</option>
                                                            <option [value]="25">25</option>
                                                            <option [value]="50">50</option>
                                                            <option [value]="100">100</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <table class="table table-bordered table-condensed">
                                            <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>Period Beginning</th>
                                                    <th>Status</th>
                                                    <th>Facility Name</th>
                                                    <th style="text-align: center;">Options</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let map of mapsList | fieldFilter: 'period':period_begin_maps_filter | fieldFilter:'orders':binding | paginate: config">
                                                    <td>{{map.code}}</td>
                                                    <td>{{map.period_begin}}</td>
                                                    <td>{{map.status}}</td>
                                                    <td>{{map.facility_name}}</td>
                                                    <td style="text-align: center;">
                                                        <a [routerLink]="['/orders/view-map']" class="btn btn-default btn-xs"><i class="fa fa-eye"></i> View</a>
                                                        <a [routerLink]="['/orders/update-map']" class="btn btn-primary btn-xs"><i class="fa fa-refresh"></i> Update</a>
                                                        <a class="btn btn-danger btn-xs" title="Delete"><i class="fa fa-trash"></i> Delete</a>
                                                        <a class="btn btn-success btn-xs" title="Download"><i class="fa fa-download"></i> Download</a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="dt-toolbar-footer">
                                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                                <div class="dataTables_info form-inline" id="DataTables_Table_1_info" role="status" aria-live="polite">
                                                    Current Page: <input type="number" class="form-control" min="0" [(ngModel)]="config.currentPage">
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-6">
                                                <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_1_paginate">
                                                    <pagination-controls [maxSize]="maxSize" [directionLinks]="directionLinks" [autoHide]="autoHide" [previousLabel]="labels.previousLabel"
                                                        [nextLabel]="labels.nextLabel" [screenReaderPaginationLabel]="labels.screenReaderPaginationLabel"
                                                        [screenReaderPageLabel]="labels.screenReaderPageLabel" [screenReaderCurrentLabel]="labels.screenReaderCurrentLabel"
                                                        (pageChange)="onPageChange($event)">
                                                    </pagination-controls>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </tab>
                        <!--Templates Tab Content-->
                        <tab [active]="state.tabs.demo3 == 'hr3'">
                            <div>
                                <sa-widget>
                                    <h3>CDRR Templates</h3>
                                    <hr class="simple">
                                    <p><i class="fa fa-download"></i><a href=""> F-CDRR for Satellite/Standalone Sites.xlsx</a></p>
                                    <p><i class="fa fa-download"></i><a href=""> D-CDRR for Central Sites.xlsx</a></p>
                                    <h3>MAPs Templates</h3>
                                    <hr class="simple">
                                    <p><i class="fa fa-download"></i><a href=""> F-MAPs for Satellite/Standalone Sites.xlsx</a></p>
                                    <p><i class="fa fa-download"></i><a href=""> D-MAPs for Central Sites.xlsx</a></p>
                                </sa-widget>
                            </div>
                        </tab>
                    </tabset>
                </div>
                <!-- end widget content -->
            </div>
            <!-- end widget div -->
        </sa-widget>
    </div>
</div>