#input {display: block; padding: 5px; margin: 0; width: 100%; }
select {display: block; padding: 5px; margin: 0; width: 100%; }
#complex_table {margin: 0; padding: 0;}
.warning {color:antiquewhite; font-weight: bold; background:#d70909; }