<div id="content">
   <sa-widgets-grid>
      <form (ngSubmit)="onSubmit()" novalidate [formGroup]="stockTransactionsForm">
      <div class="row">
         <div class="col-xs-2 col-md-2">
            <sa-widget [colorbutton]="false" [editbutton]="false" [togglebutton]="false" [deletebutton]="false" [fullscreenbutton]="false"
            [custombutton]="false" [sortable]="false" color="blueDark">
            <header>
               <h2>Transaction Details</h2>
            </header>
            <div class="table-responsive" style="padding:12px">
               <table>
                  <tbody>
                     <tr>
                        <th>Transaction Date</th>
                     </tr>
                     <tr>
                        <div class="input-group">
                           <input type="text" formControlName="transaction_date" placeholder="Select a date" class="form-control datepicker" [saUiDatepicker]="{ dateFormat: 'mm/dd/yy' , changeMonth: true, changeYear: true, yearRange : 'c-65:c+0'}"
                           (selectDate)='setDate($event)'>
                        </div>
                     </tr>
                     <tr>
                        <th>Transaction Type</th>
                     </tr>
                     <tr *ngIf="transactionTypes">
                        <select formControlName="transaction_type_id" class="form-control" id="select-1">
                           <option value="null" disabled selected> Select Transaction Type</option>
                           <option *ngFor="let type of transactionTypes" value="{{type.id}}">{{type.name}}</option>
                        </select>
                     </tr>
                     <tr *ngIf="!transactionTypes">
                        <div class="form-group">
                           <i class="fa fa-cog fa-spin fa-2x fa-fw"></i>
                           <span>Loading...</span>
                        </div>
                     </tr>
                     <div *ngIf="stockTransactionsForm.controls['transaction_type_id'].hasError('required') && stockTransactionsForm.controls['transaction_type_id'].touched" class="alert alert-danger">You must select a Transaction Type</div>
                     <tr>
                        <th>Ref./Order No</th>
                     </tr>
                     <tr>
                        <input type="text" formControlName="ref_number" placeholder="Ref No" class="form-control">
                     </tr>
                     <div *ngIf="stockTransactionsForm.get('transaction_type_id').value == 3 || stockTransactionsForm.get('transaction_type_id').value == 4 || stockTransactionsForm.get('transaction_type_id').value == 6 || stockTransactionsForm.get('transaction_type_id').value == 7">
                        <tr>
                           <th>Destination</th>
                        </tr>
                        <tr>
                           <input #store type="text" formControlName="store" placeholder="Destination" class="form-control" list="list" (change)="setStore(store.value)">
                           <datalist id="list">
                              <option *ngFor="let store of storesList" value="{{store.name}}">{{store.name}}</option>
                           </datalist>
                        </tr>
                     </div>
                     <div *ngIf="stockTransactionsForm.get('transaction_type_id').value == 1 || stockTransactionsForm.get('transaction_type_id').value == 8">
                        <tr>
                           <th>Source</th>
                        </tr>
                        <tr>
                           <input #store type="text" formControlName="store" placeholder="Source" class="form-control" list="list" (change)="setStore(store.value)">
                           <datalist id="list">
                              <option *ngFor="let store of storesList"  data-id="{{store.id}}" value="{{store.name}}">{{store.name}}</option>
                           </datalist>
                        </tr>
                     </div>
                  </tbody>
               </table>
            </div>
            </sa-widget>
         </div>
         <div class="col-xs-10 col-md-10">
            <sa-widget [colorbutton]="false" [editbutton]="false" [togglebutton]="false" [deletebutton]="false" [fullscreenbutton]="false"
            [custombutton]="false" [sortable]="false" color="blueDark">
            <header>
               <h2>Drug Details</h2>
               <div class="widget-toolbar">
                  <button class="btn btn-primary" type="button" (click)="addRow()"><i class="fa fa-plus"></i> Add Another Drug </button>
               </div>
            </header>
            <!--<div class="form-group">-->
            <!--<span>
               <button class="btn btn-primary" type="button" (click)="addRow()">
               Add Another Drug
               </button>
               </span>-->
            <!--</div>-->
            <div class="table-responsive">
               <table class="table table-bordered">
                  <thead>
                     <tr>
                        <th>Drug</th>
                        <th>Unit</th>
                        <th>Pack Size</th>
                        <th>Batch No.</th>
                        <th>Expiry Date</th>
                        <th>Packs</th>
                        <th>Quantity</th>
                        <th>Available Quantity</th>
                        <th>Pack Cost</th>
                        <th>Total</th>
                        <th>Comment</th>
                        <th>Action</th>
                     </tr>
                  </thead>
                  <tbody formArrayName="drugs" *ngFor="let row of rows.controls; let i=index">
                     <tr [formGroupName]="i" (click)="index(i)">
                     <td id="complex_table">
                        <select #drug id="input" class="form-control" *ngIf="drugsList" formControlName="drug_id" (change)="getIndividualDrug(drug.value, this.i)">
                        <option *ngFor="let drug of drugsList"  value="{{drug.id}}">{{drug.name}}</option>
                        </select>
                     </td>
                     <td id="complex_table">
                        <input id="input" class="form-control" formControlName="unit" type="text" readonly>
                     </td>
                     <td id="complex_table">
                        <input id="input" class="form-control" formControlName="pack_size" type="text" readonly>
                     </td>
                     <td id="complex_table" *ngIf="!batchList">
                        <input id="input" class="form-control" formControlName="batch_number" type="text" readonly>
                     </td>
                     <!--<td id="complex_table" *ngIf="batchList">
                        <select #batch id="input" class="form-control" formControlName="batch_number" (change)="getBatchDetails(batch.value, this.i)">
                        <option *ngFor="let item of batchList | keys" value="{{item.key}}">{{item.key}}</option>
                        </select>
                     </td>-->
                     <td id="complex_table" *ngIf="batchList">
                         <input #batch id="input" type="text" formControlName="batch_number" class="form-control" list="batchlist" (change)="getBatchDetails(batch.value, this.i)">
                         <datalist id="batchlist">
                             <option *ngFor="let item of batchList | keys" value="{{item.key}}">{{item.key}}</option>                             
                         </datalist>
                     </td>
                     <td id="complex_table" *ngIf="!batchList">
                        <!--<input id="input" class="form-control" formControlName="expiry_date" type="text">-->
                        <div class="input-group">
                           <input type="text" formControlName="expiry_date" class="form-control datepicker" [saUiDatepicker]="{ dateFormat: 'mm/dd/yy' , changeMonth: true, changeYear: true, yearRange : 'c-65:c+0'}"
                           (selectDate)='setEDate($event, this.i)'>
                        </div>
                     </td>
                     <td id="complex_table">
                        <input #packs id="input" class="form-control" formControlName="quantity_packs" type="text" (change)="quantityValidator(packs.value, this.i)">
                     </td>
                     <td id="complex_table">
                        <input id="input" class="form-control" formControlName="quantity" type="text" readonly>
                     </td>
                     <td id="complex_table">
                        <input id="input" class="form-control" formControlName="balance_before" type="text">
                     </td>
                     <td id="complex_table">
                        <input id="input" class="form-control" formControlName="unit_cost" type="text">
                     </td>
                     <td id="complex_table">
                        <input id="input" class="form-control" formControlName="total" type="text" readonly>
                     </td>
                     <td id="complex_table">
                        <input id="input" class="form-control" formControlName="comment" type="text">
                     </td>
                     <td id="complex_table">
                        <button *ngIf="stockTransactionsForm.controls.drugs.controls.length > 1" class="form-control" class="btn btn-danger btn-size" (click)="smartAlert('Are you sure?','delete_row',i)">Remove</button>
                     </td>
                     </tr>
                  </tbody>
               </table>
            </div>
            </sa-widget>
            <div align="right">
               <input type="reset" class="btn btn-danger btn-size" id="reset" value="Reset Fields" (click)="smartAlert('You are about to reset the fields are you sure?','reset')">
               <button class="btn btn-primary" type="submit" [disabled]="!stockTransactionsForm.valid"><i class="fa fa-save"></i> Submit </button>
            </div>
         </div>
      </div>
      </form>
   </sa-widgets-grid>
   <pre>
       {{ stockTransactionsForm.value | json}}
   </pre>
</div>