<div id="content">
  <sa-widgets-grid>
    <div class="row">
      <article class="col-sm-12">
        <sa-widget [editbutton]="false" color="darken">
          <header>
            <h2>Drug consumption</h2>
          </header>
          <div class="widget-body">
            <alert type="info" dismissible="true">
              <i class="fa-fw fa fa-info"></i> (802) rows updated for drug consumption
            </alert>
          </div>
        </sa-widget>
      </article>
    </div>
  </sa-widgets-grid>
</div>