<div id="content">
  <div class="row">
    <article class="col-sm-12">
      <sa-widget [editbutton]="false" color="darken">
        <header><span class="widget-icon"> <i class="fa fa-table"></i> </span>
          <h2>Patient Merging</h2>          
        </header>
        <div>
          <div class="widget-body no-padding">           
            <sa-datatable [options]="tableOptions" filter="true" paginationLength="true" tableClass="table table-striped table-bordered table-hover"
              width="100%">
              <thead>
                <tr>
                  <th>CCC No</th>
                  <th data-hide="phone">Patient Name</th>
                  <th data-hide="phone,tablet">Options</th>
                </tr>
              </thead>
            </sa-datatable>
          </div>
        </div>
      </sa-widget>
    </article>
  </div>
</div>