<header id="header">
   <div id="logo-group">
      <!-- PLACE YOUR LOGO HERE -->
      <img id="adt" src="assets/img/Healthlogo.png" alt="adtLogo">
   </div>
   <!--<sa-recent-projects></sa-recent-projects>-->
   <!--Notifications Dropdrown  -->
   <app-notifications></app-notifications>
   <!-- pulled right: nav area -->
   <div class="pull-right">
      <sa-collapse-menu></sa-collapse-menu>
      <!-- logout button -->
      <sa-logout></sa-logout>
      <!-- end logout button -->
      <!-- fullscreen button -->
      <sa-full-screen></sa-full-screen>
      <!-- end fullscreen button --> 
   </div>
   <!-- end pulled right: nav area -->
</header>